@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    <link rel="stylesheet" href="~/css/authorization.css" asp-append-version="true" />
</head>
<body class="body-auth">
    <div class="container" id="container">
        <form>
            <div class="sign-container">
                <h1>Вход</h1>

                <span asp-validation-for="Login" class="text-danger"></span>
                <input asp-for="Login" type="text" placeholder="Логин" />

                <span asp-validation-for="Password" class="text-danger"></span>
                <input asp-for="Password" type="password" placeholder="Пароль" />

                <button formmethod="post" asp-controller="Authorization" asp-action="Login">Войти</button>
            </div>
            @Html.ValidationSummary(true)
        </form>
    </div>
</body>
</html>
