@{
    var gridName = "Chamber";
}

@Html.InitCrudPopupsForGrid(gridName, "Chamber")

<header style="margin-bottom:35px">
    <div class="container">
        <h2>Chambers</h2>
    </div>

    <div class="container" style="display:flex">
        <form>
            <button type="button" onclick="awe.open('@("create" + gridName)')" class="btn btn-secondary btn-main col-sm-4">
                Create
            </button>
        </form>
        <form>
            <div class="dropdown">
                <button class="btn btn-secondary btn-actions dropdown-toggle col-sm-4" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Actions
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><button formmethod="get" asp-controller="Chamber" asp-action="Index">Import Excel</button></li>
                    <li><button formmethod="get" asp-controller="Chamber" asp-action="Index">Export Excel</button></li>
                </ul>
            </div>
        </form>
    </div>
</header>
<hr />

<div class="gui3">
    @(Html.Awe().Grid(gridName)
        .Mod(o => o.Main().ColumnsAutohide())
        .Url(Url.Action("GridGetItems"))
        .Reorderable()
        .Resizable()
        .Columns(
        new Column { Bind = "Id", Groupable = false, Hidden = true },
        new Column { Bind = "Number", Header = "Number chamber" }.Mod(o => o.Nohide()),
        new Column { Bind = "Floor", Header = "Floor" },
        new Column { Bind = "QuantitySeats", Header = "Quantity of seats" },
        new Column { Bind = "Patients", ClientFormat = ".(PatientNames)", Header = "Patient names" },
        new Column { Bind = "Owner.FullName", ClientFormat = ".(OwnerName)", Header = "Owner" },
        new Column { Bind = "CreatedOn", Header = "Date of creation" },
        new Column { Bind = "ModifiedOn", Header = "Date of change" },
        new Column { ClientFormat = Html.EditFormatForGrid(gridName), Width = 55 }.Mod(o => o.Nohide()),
        new Column { ClientFormat = Html.DeleteFormatForGrid(gridName), Width = 55 }.Mod(o => o.Nohide())))
</div>

